.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
    'header header'
    'content aside1'
    'content aside2'
    'footer footer';
}

.cabecera {
  grid-area: header;
}

.contenido {
  grid-area: content;
}

.aside1 {
  grid-area: aside1;
}

.aside2 {
  grid-area: aside2;
}

.pie {
  grid-area: footer;
}
